body         { font-family: verdana, arial, helvetica, sans-serif; color: #000000; 
               font-size: 11px; background-color: #BCC6CF; text-align: Left; 
               line-height: 150%; margin: 6px; padding: 0px }
h1           { font-family: verdana, arial, helvetica, sans-serif; font-size: 20pt; 
               line-height: 150%; color: #000000; margin-left: 2px; 
               margin-right: 2px; margin-top: 10px; margin-bottom: 10px; 
               padding: 0px }
h2           { font-family: verdana, arial, helvetica, sans-serif; font-size: 16pt; 
               line-height: 150%; color: #000000; margin-left: 2px; 
               margin-right: 2px; margin-top: 8px; margin-bottom: 8px; 
               padding: 0px }
p            { font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; 
               font-family: verdana, arial, helvetica, sans-serif; 
               text-align: center; color: #404A58; padding: 0px }
a            { color: #000000; text-decoration: none; font-family: 
               verdana, arial, helvetica, sans-serif }
a:link       { color: #404A58 }
a:visited    { color: #404A58 }
a:hover      { background-color: #eee }
table        { font-size: 14px; margin-left: 0; margin-top: 12; margin-bottom: 12 }
pre          { font-size: 12px; line-height: 125%; margin-left: 5; 
               margin-top: 10; margin-bottom: 10 }