CMakeCache.txt
CMakeFiles/*
distrib/docs/english/build/

avs_core/CMakeCache.txt
avs_core/CMakeFiles/*

avs_core/core/version.h

plugins/CMakeCache.txt
plugins/CMakeFiles/*

plugins/DirectShowSource/CMakeCache.txt
plugins/DirectShowSource/CMakeFiles/*

plugins/ImageSeq/CMakeCache.txt
plugins/ImageSeq/CMakeFiles/*

plugins/Shibatch/CMakeCache.txt
plugins/Shibatch/CMakeFiles/*

plugins/TimeStretch/CMakeCache.txt
plugins/TimeStretch/CMakeFiles/*

plugins/VDubFilter/CMakeCache.txt
plugins/VDubFilter/CMakeFiles/*

plugins/VFAPIFilter/CMakeCache.txt
plugins/VFAPIFilter/CMakeFiles/*
