*.aps
*.dsw
*.ncb
*.opt
*.plg
*.obj
*.sbr
*.tlog
*.sdf
*.opensdf
*.pdb
*.idb
*.ipch
*.lastbuildstate
*.pch
*.user
*.suo
*/Debug/*
*/Release/*
*/*/Debug/*
*/*/Release/*
*/*/*/Debug/*
*/*/*/Release/*
Package
Temp