body         { font-family: verdana, arial, helvetica, sans-serif; color: #000000;
               font-size: 12px; background-color: #B6C0CA; text-align: Left;
               line-height: 150%; margin: 6px; padding: 0px }
h1           { font-family: verdana, arial, helvetica, sans-serif; font-size: 20pt;
               line-height: 150%; color: #000000; margin-left: 2px;
               margin-right: 2px; margin-top: 10px; margin-bottom: 10px;
               padding: 0px }
h2           { font-family: verdana, arial, helvetica, sans-serif; font-size: 16pt;
               line-height: 150%; color: #000000; margin-left: 2px;
               margin-right: 2px; margin-top: 8px; margin-bottom: 8px;
               padding: 0px }
h3           { font-family: verdana, arial, helvetica, sans-serif; font-size: 14pt;
               line-height: 150%; color: #000000; margin-left: 2px;
               margin-right: 2px; margin-top: 6px; margin-bottom: 6px;
               padding: 0px }
p            { font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px;
               font-family: verdana, arial, helvetica, sans-serif;
               text-align: Left; color: #000000; padding: 0px }
a            { color: #000000; text-decoration: none; font-family:
               verdana, arial, helvetica, sans-serif }
a:link       { color: #005090}
a:visited    { color: #005090}
a:hover      { background-color: #FF0000; color: #005090}
table        { font-size: 12px; margin-left: 0px; margin-top: 12px; margin-bottom: 12px }
pre          { font-size: 12px; margin-top: 10px; margin-bottom: 10px; font-family: Courier, mono; background-color: #EAe0C0; padding-left: 12px; padding-top: 12px; padding-right: 12px; padding-bottom: 12px}
code         { font-family: Courier, mono; font-size: 12px}
var          { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic}
tt           { font-family: Courier, mono; font-size: 12px}
