body         { font-family: verdana, arial, helvetica, sans-serif; color: #000000;
               font-size: 12px; background-color: #B6CAC0; text-align: Left;
               line-height: 150%; margin: 6px; padding: 0px }
h1           { font-family: verdana, arial, helvetica, sans-serif; font-size: 20pt;
               line-height: 150%; color: #000000; margin-left: 2px;
               margin-right: 2px; margin-top: 14px; margin-bottom: 10px;
               padding: 0px }
h2           { font-family: verdana, arial, helvetica, sans-serif; font-size: 16pt;
               line-height: 150%; color: #000000; margin-left: 2px;
               margin-right: 2px; margin-top: 12px; margin-bottom: 8px;
               padding: 0px }
h3           { font-family: verdana, arial, helvetica, sans-serif; font-size: 14pt;
               line-height: 150%; color: #000000; margin-left: 2px;
               margin-right: 2px; margin-top: 10px; margin-bottom: 6px;
               padding: 0px }
p            { font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px;
               font-family: verdana, arial, helvetica, sans-serif;
               text-align: Left; color: #000000; padding: 0px }
a            { color: #0000FF; text-decoration: none; font-family:
               verdana, arial, helvetica, sans-serif }
a:link       { color: #404040; background-color: #d0d0d0}
a:visited    { color: #404040; background-color: #d0d0d0}
a:hover      { background-color: #f0f0f0 }
table        { font-size: 12px; margin-left: 0; margin-top: 10; margin-bottom: 10 }
pre          { font-size: 12px; line-height: 125%; margin-left: 5;
               margin-top: 10; margin-bottom: 10 }

