#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_SELCOM DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_INTROTEXT,0,0,300,25,NOT WS_GROUP
    CONTROL         "",IDC_TEXT1,"Static",SS_LEFTNOWORDWRAP,0,25,102,15
    LTEXT           "",IDC_TEXT2,0,40,95,78,NOT WS_GROUP
    LTEXT           "",IDC_SPACEREQUIRED,0,118,100,22,NOT WS_GROUP
    COMBOBOX        IDC_COMBO1,102,25,195,71,CBS_DROPDOWNLIST | NOT 
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_TREE1,"SysTreeView32",TVS_HASBUTTONS | 
                    TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | 
                    WS_BORDER | WS_TABSTOP,102,40,195,60
    GROUPBOX        "",1042,102,100,195,40
    LTEXT           "",1043,107,110,185,29,NOT WS_GROUP
END
