@charset "UTF-8";

/* 
 * Japanese edition only
 */

/* notes */
#footnote {
  margin:0;
  padding:0;
  font-size: 80%;
}

#footnote ul {
  list-style:none;
  margin:0;
  padding:0 0 0 4px;
}

a.footnote_link {
  color: #ff0000;
  vertical-align: super;
  font-size: 80%;
}

a:link.footnote_link {
  color: #ff0000;
}

a:visited.footnote_link {
  color: #ff0000;
}

a:hover.footnote_link {
  background-color: #FF6060;
  color: #005090;
}

#footnote a {
  vertical-align: baseline;
  font-size: 100%;
}

/* alert */
.alert {
  background-color: #FFCCCC;
  border: 3px double #FF6666;
  margin: 10px 10px 20px 10px;
}

.alert span {
  margin: 10px;display:block;
}

/* pre */
pre {
  font-family: "ＭＳ ゴシック", "Osaka－等幅", monospace;
}